

<div class="jumbotron">
  <div class="container">
    <h1>Social Media Dashboard</h1>
    <p>Total number of followers : <span>{{totalFollowers}}</span></p><br>
    
  </div>
</div>

<div class="summary">


  <div class="row">
    <!-- Card -->
    <div class="card" style="width: 18rem; margin-left: 30px" [ngClass]="{'Instagram':d.appName ==='instagram',
      'Youtube':d.appName ==='youtube',
      'Twitter':d.appName ==='twitter',
      'Facebook':d.appName ==='facebook'
      }" *ngFor="let d of data">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <img src="{{d.imgURL}}">
        <span style="margin-left: 6px ;">{{d.userName}}</span>
        <!-- <div class="d-flex justify-content-center">
          <img src="{{da.imgURL}}"><span>&nbsp;{{da.userName}}</span><br>
        </div> -->
        <!-- Text -->
        <h1 class="users" style="color :hsl(230, 17%, 14%)">{{d.users}}</h1>
        <div class="typeofUsers">{{d.typeOfUsers}}</div><br>
        <img src="{{d.todayValue}}">


        <span [ngClass]="{'positive': d.behavior === 'positive' ,
        'negative' : d.behavior === 'negative'}">
{{d.todayData}}</span>


        <!-- <div class="text-center"> <br>
          <h3>{{da.followers}}</h3>
          <p>{{da.todayData}}</p>
          <p>Today</p>
        </div> -->

        
      </div>
    </div>&nbsp;&nbsp;

  </div>
</div>